{% ckan_extends %}

{% block custom_fields %}
{% endblock %}
{{c.is_sysadmin }}

{% block package_metadata_fields %}
    {% if c.is_sysadmin %}
    <div class="control-group">
        <label class="control-label" for="field-approve_dataset">{{ _("Approve dataset") }}</label>
        <div class="controls">
            <select id="field-approve_dataset" name="approve_dataset" data-module="autocomplete">
                {% for opt in h.approved_opts() %}
                    <option value="{{ opt }}" {% if opt in data.get('approve_dataset', []) %} selected="selected"{% endif %}>{{ opt }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    {{ super() }}
{% endblock %}

