<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What\'s a resource?') }}</h2>
  <div class="module-content">
    <p>{{ _('A resource can be any file or link to a file containing useful data.') }}</p>
  </div>
</section>

<section clss="module module-narrow module-shallow">
   <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Resource security') }}</h2>
    <div class="module-content">
     <p>{{ _('You can choose between three types of resource security. Depends on what valuable is item for you.') }}</p>
    </div>
</section>