{% ckan_extends %}

{% block basic_fields_name %}
  {{ super() }}

  <label class="control-label" for="field-security-type">Security Type</label>

  <div class="controls " id="field-security-type" style="position: relative">

    <select size="3" multiple name="security_type" id="security_type">
      <option value="open" data-description="first">Open</option>
      <option value="secure_keyless" data-description="second">Secure without Key</option>
      <option selected value="secure" data-description="third">Secure with Key</option>
     </select>

    <p style="position:absolute; top:0; right:0; width: 60%;" id="securyty_type_desc">
     If you want to maximise securuty chouse.. Dolor Amet Adipiscing Ultricies Cras. Dolor Amet Adipiscing Ultricies Cras
    </p>

  </div>
  <br>
{% endblock %}
