{% ckan_extends %}


{% block breadcrumb_content %}
  {{ super() }}
  {% if pkg %}
    <li class="active"><a href="#">{{ _('Add New Resource') }}</a></li>
  {% endif %}
{% endblock %}

{% block form %}{% snippet resource_form_snippet, data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name, stage=stage, allow_upload=g.ofs_impl and logged_in, dataset_type=dataset_type %}{% endblock %}

{% block secondary_content %}
  {% snippet 'package/snippets/resource_help.html' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'vendor/fileupload' %}
{% endblock %}


{% block flash %}
  <div class="flash-messages">
    {% block flash_inner %}
        {% for message in h.flash.pop_messages() | list %}
          <div class="flash-messages-inside">
            {{ h.literal(message) }}
          </div>
      {% endfor %}
    {% endblock %}
  </div>
{% endblock %}